<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<body>
	<ui:composition>
	
<!-- ... -->			




					<p:panel styleClass="pnlPrincipal" header="NOTIFICACIÓN RESOLUCIÓN RECURSO"
						id="pnlNotificacionResolucion" 
						rendered="#{ (recursoResolucionBean.mostrarNotificacionElectronica and
						(Bean.perfilActual eq 'perfilc' or Bean.perfilActual eq 'perfil'))}">
					<br/>
					<p:panel styleClass="pnlPrincipal" header="SITUACIÓN DE LA NOTIFICACIÓN"
					id="pnlNotificacionEstado" 
						rendered="#{ (recursoResolucionBean.mostrarNotificacionElectronica and
						(Bean.perfilActual eq 'perfilc' or Bean.perfilActual eq 'perfil'))}">
						<h:outputText value="#{recursoResolucionBean.mensajeNotificacion}" id="mensajeNotificacion"
							escape="false" style="font-weight:bold;">
						</h:outputText>
						<br/>
						<br/>
						<h:outputText value="NOTA: Los datos de notificación no pueden modificarse porque este expediente ha alcanzado ya la fase de Aceptación/Renuncia."
							rendered="#{recursoResolucionBean.existeAceptacion}" escape="false" style="font-weight:bold;color:red;">
						</h:outputText>
					</p:panel>
					<br/>
					
					<p:panel styleClass="pnlPrincipal" header="OPCIÓN NOTIFICACIÓN NOTIFIC@"
						id="pnlNotificacionElectronica" 
						rendered="#{recursoResolucionBean.mostrarNotificacionElectronica and
						(Bean.perfilActual eq 'perfilc' or Bean.perfilActual eq 'perfil')}">
<!-- 							false}"> -->						

						<div class="ui-grid-row">
							<div class="ui-grid-col-4 noBorder p5 center">
								<p:commandButton value="Notificar" icon="ui-icon-mail-closed" widgetVar="notificar"
									disabled="#{recursoResolucionBean.bloqueoNotifElectronica or
									recursoResolucionBean.notificacionManual.activa}"
									onclick="PF('statusDialog').show(); PF('notificar').disable();"
									onsuccess="PF('statusDialog').hide(); PF('notificar').enable();"
									onerror="PF('statusDialog').hide(); PF('notificar').enable();"
									actionListener="#{recursoResolucionBean.notificaResRec}"
									update="formularioContenido">
								</p:commandButton>
								&nbsp;
								<p:selectBooleanCheckbox value="#{recursoResolucionBean.envioAnticipado}" 
									disabled="#{recursoResolucionBean.bloqueoNotifElectronica or 
									recursoResolucionBean.notificacionManual.activa}"
									styleClass="p2 noBorder check-no-persistente" itemLabel="Directo a Notific@" />
							</div>
							<div class="ui-grid-col-3 noBorder p5 center">
								<h:outputLabel value="F. Acuse: " />
								<h:outputText value="#{recursoResolucionBean.notificacionElectronica.fechaRecibo eq null?'Aún no hay fecha':recursoResolucionBean.notificacionElectronica.fechaRecibo}"
									style="font-weight:bold;">
								   <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
	 								</h:outputText>									
							</div>
							<div class="ui-grid-col-2 noBorder p5 center">
<!-- 							disabled="#{recursoResolucionBean.bloqueoNotifElectronica or recursoResolucionBean.notificacionManual.activa}" -->
								<p:commandButton ajax="false" id="btnDescargarInformeAcuse"
									disabled="#{not recursoResolucionBean.existeNotificacionElectronicaConAcuse}"
										value="Acuse"
										actionListener="#{recursoResolucionBean.descargarInformeAcuse}"
										style="font-weight: bold;"
										update="formularioContenido"
										rendered="#{ recursoResolucionBean.notificacionElectronica.fechaRecibo ne null}"
										onclick="PrimeFaces.monitorDownload(start, stop);"
										icon="ui-icon-print">
										<p:fileDownload value="#{recursoResolucionBean.ficheroInforme}" />
								</p:commandButton>	
																						
							</div>
							<div class="ui-grid-col-3 noBorder p5 center">
								<h:outputLabel value="Estado: " />
								<h:outputLabel value="#{recursoResolucionBean.notificacionElectronica.estado eq null?'-':recursoResolucionBean.notificacionElectronica.estado.nombre} 
									(#{recursoResolucionBean.notificacionElectronica.estado eq null?'-':recursoResolucionBean.notificacionElectronica.estado.interno?'Interno':'Notific@'})" 
									style="font-weight:bold;" title="#{recursoResolucionBean.notificacionElectronica.estado eq null?'-':recursoResolucionBean.notificacionElectronica.estado.descripcion}"/>
								&nbsp;
								<p:commandButton value="#{'&nbsp;'}" icon="ui-icon-refresh" widgetVar="actualizar"
									disabled="#{recursoResolucionBean.bloqueoActualizarNotifica or recursoResolucionBean.notificacionManual.activa}"
									onclick="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									onerror="PF('statusDialog').hide();"
									action="#{recursoResolucionBean.actualizarEstadoNotificacion}"
									update="formularioContenido:pnlNotificacionResolucion">
								</p:commandButton>
<!-- 								será posible refrescar estado de not elect aún con la manual activa -->								
<!-- 								or recursoResolucionBean.bloqueoNotifElectronica -->
<!-- 								or recursoResolucionBean.notificacionManual.activa -->
							</div>
						</div>
						<p:spacer height="10px" />
						
					</p:panel>
					<br/>
					
					
					
					
					<p:panel styleClass="noBorder" >					
					<div class="ui-grid-row">
							<div class="ui-grid-col-12 center p5 fondoCONV">
								<h:outputText styleClass="titleColumn" 
									value="OPCIÓN NOTIFICACIÓN OTROS MEDIOS" />
							</div>
							

							<div class="ui-grid-col-1  noBorderLeft p5 center fondoCONV">
								<p:commandButton styleClass="botonExpandCertamen"
									icon="ui-icon-circle-triangle-e"
									rendered="#{!recursoResolucionBean.notificaManualExpandido}"
									actionListener="#{recursoResolucionBean.expandirNotificaManual}"
									onclick="PF('statusDialog').show()"
									oncomplete="PF('statusDialog').hide()"
									update="formularioContenido">
								</p:commandButton>
								<p:commandButton styleClass="botonExpandCertamen"
									icon="ui-icon-circle-triangle-s"
									rendered="#{recursoResolucionBean.notificaManualExpandido}"
									actionListener="#{recursoResolucionBean.colapsarNotificaManual}"
									onclick="PF('statusDialog').show()"
									oncomplete="PF('statusDialog').hide()"
									update="formularioContenido">
								</p:commandButton>
							</div>
						</div>
					
					
					
					
					<p:panel 
						id="pnlNotificacionOtrosMedios"
						rendered="#{ (recursoResolucionBean.notificaManualExpandido and (recursoResolucionBean.mostrarNotificacionElectronica and
						(Bean.perfilActual eq 'perfilc' or Bean.perfilActual eq 'perfil')))}">

						<div class="ui-grid-row">
						
							<div class="ui-grid-col-6 noBorder p5 center">
								<p:selectBooleanCheckbox 
									value="#{recursoResolucionBean.notificacionManual.activa}" 
									widgetVar="checkManualActiva" 
									disabled="#{recursoResolucionBean.bloqueoCheckCambioTipoNotificacion}" >
									<p:ajax listener="#{recursoResolucionBean.evitaPasoAMarcado}" event="change" 
									update=":formularioContenido:pnlNotificacionOtrosMedios 
										:formularioContenido:pnlNotificacionElectronica :formularioContenido:mensajeNotificacion" />
										
								</p:selectBooleanCheckbox>										
								&nbsp;
								<h:outputText
									value="NOTIFICACIÓN POR OTROS MEDIOS" />									
							</div>
	
							<div class="ui-grid-col-6 noBorder p5 center">			
								<h:outputText value="Fecha de acuse" />	
								&nbsp;							
								<p:calendar mask="true" mode="popup"
									disabled="#{recursoResolucionBean.bloqueoNotifManual}"
									value="#{recursoResolucionBean.notificacionManual.fechaRecibo}"
									styleClass="calendar wp90" locale="es" pattern="dd/MM/yyyy"
									converterMessage="#{Msg.fecha_conversion}"
									onkeypress="if (event.keyCode == 46) {return false; }"
									navigator="true" yearRange="-100:+1" readonlyInput="false"/>
							</div>
						
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-12 noBorder p5 lh22">
								<p:outputLabel value="Observaciones" />
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-12 noBorder lh22">
								<p:inputTextarea styleClass="wp100 h80" maxlength="1900" counter="cararestantes"
									disabled="#{recursoResolucionBean.bloqueoNotifManual}"
									counterTemplate="{0} caracteres restantes." autoResize="true"
									value="#{recursoResolucionBean.notificacionManual.observaciones}" />
							</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-12 p5 noBorder lh22">
								<h:outputText id="cararestantes" />
							</div>
						</div>
						<div class="ui-grid-row">
							<!-- panel documentos -->
					
							
							

			<h:panelGroup id="panelDescargaFicheros">
				<p:panelGrid columns="4" style="width:100%; margin-top: 20px;" >
					<f:facet name="header">
						<p:row>
								<p:column colspan="4">SUBIR DOCUMENTOS</p:column>
						</p:row>
					</f:facet>
					<p:panelGrid columns="4" style="width:100%;">
						<h:outputText value="Descripción documento:" />
							<p:inputText size="90" 
							value="#{recursoResolucionBean.textoDocumentoASubir}"
							disabled="#{ (recursoResolucionBean.bloqueoNotifManual
							or recursoResolucionBean.notificacionManual.id eq null)}"
							style="width:180px;#{recursoResolucionBean.estiloTextoDocumentoASubir}"
							maxlength="100" />
						<!-- -est- RS14.A3 -->
						<p:fileUpload value="#{notificacionResRecSubidaFicheroBean.file}" 
							disabled="#{recursoResolucionBean.bloqueoNotifManual eq true
							or recursoResolucionBean.notificacionManual.id eq null}"
							mode="simple" uploadLabel="Buscar"
							emptyMessage="Ningún fichero a subir" />

						<!--  Es necesario poner ajax="false" para que funcione la subida de documentos -->
						<!--  Sin embargo esto da el problema de la Ñ, que se guarda en la BBDD con caracteres raros -->
						<p:commandButton value="#{Msg.botonSubirArchivo}" ajax="false"
							id="botonSubirDocumentacion"
							disabled="#{recursoResolucionBean.bloqueoNotifManual
							or recursoResolucionBean.notificacionManual.id eq null}"
							actionListener="#{notificacionResRecSubidaFicheroBean.subidaDocumento}"
							
							onclick="if (compruebaNombreFicheroSubir() == 1) { return false; }"
							update=":formularioContenido:documentacionSubida" icon="ui-icon-arrowthick-1-n">
							<f:param name="idNoti"
								value="#{recursoResolucionBean.notificacionManual.id}" />
							<f:attribute name="esModifica" 	value="0" />									
							<f:attribute name="idNoti" value="#{recursoResolucionBean.notificacionManual.id}" />
						</p:commandButton>
					</p:panelGrid>
				</p:panelGrid>
				
				<p:dataTable id="documentacionSubida"
					emptyMessage="Sin documentacion subida"
					var="documentacionSubida"
					value="#{recursoResolucionBean.documentacionSubidaNotifica}"
					style="margin-bottom:0; margin-top:20px;" rowIndexVar="rowIndex"
					rows="10" paginator="true"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					currentPageReportTemplate="{currentPage} de {totalPages}"
					rowsPerPageTemplate="5,10,15" selectionMode="single"
					selection="#{recursoResolucionBean.ficheroSeleccionadoNotifica}"
					rowKey="#{documentacionSubida.identificador}">
					<p:ajax event="rowSelect"
						listener="#{recursoResolucionBean.seleccionarFicheroDescarga}"
						update=":formularioContenido:panelDescargaFicheros" />
					<p:ajax event="page" listener="#{beanA.est}" />
					<f:facet name="header">
                          DOCUMENTOS
                        </f:facet>
					<p:column headerText="Fecha documento" style="width:100px">
						<div style="text-align: right">
							<h:outputText value="#{documentacionSubida.fechaAlta}" />
						</div>
					</p:column>
					<p:column headerText="Descripcion" style="width:200px">
						<h:outputText value="#{documentacionSubida.descripcion}" />
					</p:column>
					<p:column headerText="Nombre archivo" style="width:260px">
						<h:outputText value="#{documentacionSubida.nombre}" />
					</p:column>
					<p:column headerText="Tamaño" style="width:100px">
						<h:outputText value="#{documentacionSubida.tamano} B"
							style="float:right" />
					</p:column>
					<p:column style="width:22px;height:22px;text-align: center" rendered="#{recursoResolucionBean.bloqueoNotifManual eq false}">
						<p:commandButton
							update=":formularioContenido:panelBorrarDocumentacionNot"
							oncomplete="PF('dialogoBorrarDocaportadaNot').show()"
							icon="ui-icon-closethick" title="Borrar"
							rendered="#{ (documentacionSubida.borrable eq '1') and (recursoResolucionBean.bloqueoNotifManual eq false)}">
							<p:ajax listener="#{beanA.est}" />
							<f:setPropertyActionListener value="#{documentacionSubida}"
								target="#{recursoResolucionBean.ficheroABorrarNotifica}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
				<p:panelGrid columns="1" style="margin: 0.2em; width:100%">
					<p:column>
						<p:commandButton value="#{Msg.botonDescargarArchivo}" ajax="false"
							onclick="PrimeFaces.monitorDownload(start, stop);"
							style="display:block;margin:auto"
							icon="ui-icon-arrowthick-1-s"
							disabled="#{recursoResolucionBean.ocultarBotonDescargarArchivo}">
							<p:fileDownload value="#{descargaFicheroBean.file}">
							</p:fileDownload>
						</p:commandButton>
					</p:column>

				</p:panelGrid>				
				<p:panel styleClass="noBorder">
					<c:forEach var="mensajeErrorDoc"
						items="#{recursoResolucionBean.mensajesErrorDoc}">
						<h:outputText value="#{mensajeErrorDoc}"
							style="#{recursoResolucionBean.estiloErrorDoc}"
							escape="false" />
						<br />
					</c:forEach>
				</p:panel>

			</h:panelGroup>							
							
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-12 p5 center noBorder">
								<!-- panel botonera -->
								<p:commandButton value="Guardar Notificación Manual" icon="fa fa-fw fa-save"
									disabled="#{recursoResolucionBean.bloqueoCheckCambioTipoNotificacion}"
									actionListener="#{recursoResolucionBean.grabarDatosNotificacionManual}"							
									onclick="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()"
									update=":formularioContenido"
									style="font-weight: bold;" >
								</p:commandButton>	
<!-- 									disabled="#{recursoResolucionBean.bloqueoNotifManual}" -->									
							</div>	
						</div>																		
					</p:panel>

		</p:panel>
	</p:panel>

<p:spacer height="30px" />


<!-- ... -->


	</ui:composition>
</body>
</html>
