<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="../../../../../plantillas/PlantillaLineas.xhtml">


	<ui:define name="menu">
		<div id="lateral">
			<div id="menuFormato">
				<h:form id="formularioMenu">
					<p:panelMenu model="#{Bean.menuActual}" />
				</h:form>
			</div>
		</div>
	</ui:define>


	<ui:define name="content">
		<style type="text/css">
.ui-column-filter {
	width: 85% !important;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
	display: none;
}
</style>

		<div style="margin-left: 10px; margin-top: 6px;">

			<!--   <div style="float:left; margin-top:4px;">   -->
			<h2>
				#{Msg.solicitudAyuda_titulo} - #{Bean.tituloLinea} <br></br>
				#{Msg.solicitudAyuda_convocatoria}
				#{lbn.convocatoriaLineaActual.dato5} (Plazo
				#{lbn.convocatoriaLineaActual.dato2} -
				#{lbn.convocatoriaLineaActual.dato3})
			</h2>
			<!--   </div>      -->

			<h:form id="formularioContenido">

				<p:menubar style="margin:4px;"
					model="#{Bean.menuActual}" />

				<ui:include
					src="CONVOCATORIARecListadoExpedientes.xhtml">
					<c:set var="tipo" value="gestion" scope="request" />
				</ui:include>


			</h:form>
		</div>
	</ui:define>
	<ui:define name="titleHeader">
		<p:column colspan="9">RECURSO <br></br>GESTIÓN RECURSOS</p:column>
	</ui:define>
	<ui:define name="tableHeaderSuperior">
		<h:outputLabel
			value="EXPEDIENTES CON RECURSO PRESENTADO O RESUELTO - GESTIÓN RECURSOS" />
	</ui:define>
	<ui:define name="tableHeaderCentral">
		<h:outputLabel
			value="EXPEDIENTES CON RECURSO NOTIFICADO - GESTIÓN RECURSOS" />
	</ui:define>
	<ui:define name="tableHeaderInferior">
		<h:outputLabel
			value="EXPEDIENTES CON LOS RECURSOS ARCHIVADOS - GESTIÓN RECURSOS" />
	</ui:define>

	<ui:define name="btnFooterSuperior">
		<p:commandButton icon="ui-icon-search" value="Gestión Recursos"
			id="btnConsultaRecursoSuperior" title="Gestión Recursos"
			action="#{recursoListadoBean.irGrabarTramitarSuperior}"
			onclick="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" update=":formularioContenido" />
	</ui:define>
	<ui:define name="btnFooterCentral">
		<p:commandButton icon="ui-icon-search" value="Gestión Recursos"
			id="btnConsultaRecursoCentral" title="Gestión Recursos"
			action="#{recursoListadoBean.irGrabarTramitarCentral}"
			onclick="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" update=":formularioContenido" />
	</ui:define>
	<ui:define name="btnFooterInferior">
		<p:commandButton icon="ui-icon-search" value="Gestión Recursos"
			id="btnConsultaRecursoInferior" title="Gestión Recursos"
			action="#{recursoListadoBean.irGrabarTramitarInferior}"
			onclick="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" update=":formularioContenido" />
	</ui:define>
	

	
</ui:composition>
