<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:TRAMITADOR="http://www.desarrollo.es/functions"
	template="../../plantillas/PlantillaLineas.xhtml">

	<ui:define name="content">



<style type="text/css">
	.ui-icon-check {background-color:white;}
	.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight 
	{background:yellow; border:1px solid darkgray;}
	.ui-selectonemenu-items-wrapper {
		overflow-x: hidden !important;
	}
	.ui-datatable-header {text-align:left !important;}
	.ui-paginator {text-align: left;}
	.ui-datatable-footer {text-align: right !important; height:3.5em !important;}
	.boton-accion.ui-state-default {font-weight:bold !important; width:7em;}
	.boton-accion.ui-state-disabled {font-weight:normal !important; width:7em;}
	
	.letra-pequeña {font-size:.8em !important}
	.letra-mediana {font-size:1em !important}
	.altura-fila {height:2em !important}
	tr.altura-fila td {padding: 2px !important; white-space: nowrap !important;}
	
	th.ui-selection-column {padding: 2px !important}
	th.es-estado div.ui-selectonemenu {width: 80%}
	
	/* colores estados */
	.amarillo-claro {background-color:#F2F5A9}
	.gris {background-color:#cecece}
	.malva {background-color:#A9BCF5}
	.rojo-palido {background-color:#F5A9A9}
	.salmon {background-color:#F5D0A9}
	.verde-claro {background-color:#A9F5A9}
	.rosa {background-color:#F5A9F2 }
	.marron {background-color:#dd9700}	
	.morado {background-color:#CA96FF}
	
</style>

		<!-- Dialogo generico que muestra un pdf -->
		<p:dialog id="dialogoPDF" header="#{manualesBean.cabeceraDialogo}"
			widgetVar="dialogoPDF" styleClass="dlgPrincipal center" height="590"
			width="850" resizable="false" modal="true"
			appendTo="@(body)" closable="true">

			<object id="objetoPDF" name="objetoPDF" type="application/pdf"
				data="#{resource['manuales:notificador.pdf']}#view=FitH&amp;toolbar=0&amp;scrollbar=0" width="100%"
				height="100%" />
			<p:ajax event="close"
				listener="#{beanA.est}" />
		</p:dialog>

<h:form id="formulario">
		<script type="text/javascript">
			$(document).ready(function() {
				$('#formulario\\:tabla\\:cmMostrarDiagrama').click(function() {
					$('#dialogoPDF').css('position','absolute');
					PF('dialogoPDF').show();
				});
			});
		</script>	
	<p:growl id="mensaje" showDetail="false"/>

	<p:menubar style="margin:4px;" model="#{Bean.menuActual}" />
	
	
	<!-- Orden por defecto: Fecha de auditoría, las que han cambiado más recientemente aparecen antes -->
	<p:panel styleClass="pnlPrincipal" header="GESTIÓN DE NOTIFICACIONES">
	
	<!-- PANEL DE CONSULTAS, disponible cuando el usuario gestionado es LDAP -->					
	<p:panel styleClass="pnlPrincipal" collapsed="true" toggleable="true" id="panelPpalConsultas">
		<f:facet name="header">
			<p:row>
				<p:column>FILTROS DEL TRÁMITE</p:column>
			</p:row>
		</f:facet>
		
		<h:panelGroup id="panelConsultas">				
			<div class="ui-grid">
				<div class="ui-grid-row">
					&nbsp;
				</div>				
				<div class="ui-grid-row">
					<div class="ui-grid-col-2 noBorder">
						<h:outputLabel styleClass="" value="Convocatoria:" />
					</div>
					<div class="ui-grid-col-2 noBorder">
						<p:selectOneMenu id="selectConvocatoria" styleClass="wp80"
							value="#{notificaBean.convocatoriaFiltro}">
							<f:selectItem itemLabel="" itemValue="#{null}" />
							<f:selectItems
								value="#{notificaBean.listadoConvocatoriasFiltro}"
								var="convocatoria" itemLabel="#{convocatoria.convocatoria}"
								itemValue="#{convocatoria.convocatoria}" />
						</p:selectOneMenu>
					</div>
					<div class="ui-grid-col-2 noBorder" />
					<div class="ui-grid-col-6 noBorder">
						<div class="ui-grid-col-4 noBorder">
							<h:outputLabel styleClass="" value="Periodo de emisión:" />
						</div>
						<div class="ui-grid-col-3 noBorder">
							<p:inputMask mask="99-99-9999" value="#{notificaBean.fechaIniFiltro}"
								styleClass="wp85">
								<f:convertDateTime pattern="dd-MM-yyyy" locale="es" />
							</p:inputMask>
						</div>
						<div class="ui-grid-col-1 noBorder" style="text-align: center;">hasta
						</div>
						<div class="ui-grid-col-3 noBorder">
							<p:inputMask mask="99-99-9999" value="#{notificaBean.fechaFinFiltro}"
								styleClass="wp85">
								<f:convertDateTime pattern="dd-MM-yyyy" locale="es" />
							</p:inputMask>
						</div>
						<div class="ui-grid-col-1 noBorder" />												
					</div>						
				</div>
				<div class="ui-grid-row">
					&nbsp;
				</div>				
				<div class="ui-grid-row">
					<div class="ui-grid-col-2 noBorder">
						<h:outputLabel styleClass="" value="Nº Expte:" />
					</div>
					<div class="ui-grid-col-2 noBorder">
						<p:inputText styleClass="wp95" value="#{notificaBean.numExpdteFiltro}" />
					</div>
					<div class="ui-grid-col-2 noBorder" />
					<div class="ui-grid-col-2 noBorder">
						<h:outputLabel styleClass="" value="Gestión:" />
					</div>
					<div class="ui-grid-col-4 noBorder">
						<p:selectOneMenu id="selectGestiones"
							styleClass="wp80" style="min-width: 258px !important;"
							value="#{notificaBean.cdGestionFiltro}">
							<f:selectItem itemLabel="" itemValue="#{null}" />
							<f:selectItems
								value="#{notificaBean.listadoGestionesFiltro}"
								var="gestion" itemLabel="#{gestion.descripcion}"
								itemValue="#{gestion.cdCodigo}" />
						</p:selectOneMenu>
					</div>
				</div>
				<div class="ui-grid-row">
					&nbsp;
				</div>					
				<div class="ui-grid-row">
					<div class="ui-grid-col-2 noBorder">
						<h:outputLabel styleClass="" value="Identificador del Titular:" />
					</div>
					<div class="ui-grid-col-2 noBorder">
						<p:inputText styleClass="wp95" value="#{notificaBean.identTitularFiltro}" />
					</div>
					<div class="ui-grid-col-2 noBorder" />					
					<div class="ui-grid-col-2 noBorder">
						<h:outputLabel styleClass="" value="Nombre del Titular:" />
					</div>
					<div class="ui-grid-col-4 noBorder">
						<p:inputText styleClass="wp95" value="#{notificaBean.nombreTitularFiltro}" />
					</div>
				</div>
				<div class="ui-grid-row">
					&nbsp;
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-2 noBorder">
						<h:outputLabel styleClass="" value="Tipo Documental:" />
					</div>
					<div class="ui-grid-col-3 noBorder">
						<p:selectOneMenu id="seelctTiposDocumental" 
							value="#{notificaBean.tipoDocumentalFiltro}"
							styleClass="wp85">
							<f:selectItem itemLabel="" itemValue="#{null}" />
							<f:selectItems
								value="#{notificaBean.listadoTiposDocumentalFiltro}"
								var="tipo" itemLabel="#{tipo.value} - #{tipo.descripcion}"
								itemValue="#{tipo.value}" />
						</p:selectOneMenu>
					</div>					
					<div class="ui-grid-col-7 noBorder"/>
				</div>
				<div class="ui-grid-row">
					&nbsp;
				</div>
				<div class="ui-grid-row" style='display:inline-block; float: right;'>
	            	<p:commandButton id="cmBuscar" value="Buscar"
	            		update="formulario:tabla formulario:seleccionFilas"
	            		onclick="PF('tabla').unselectAllRows(); PF('statusDialog').show()"
						onsuccess="PF('statusDialog').hide()"	            		
	            		action="#{notificaBean.desseleccionoCheck}" 
						style="font-weight: normal;">
						<f:param name="buscar" value="true" />
					</p:commandButton>
					&nbsp;&nbsp;
	            	<p:commandButton id="cmLimpiar" value="Limpiar"
	            		update="formulario:panelConsultas"
	            		onclick="PF('tabla').unselectAllRows();"
	            		action="#{notificaBean.inicializaPanelBusqueda}" 
						style="font-weight: normal;">
					</p:commandButton>				
				</div>
			</div>
			
		</h:panelGroup>	
		
	</p:panel>
		
	<p:dataTable var="notificacion" id="tabla" widgetVar="tabla" rowSelectMode = "checkbox"
		sortBy="#{notificacion.fechaAuditoria}" sortOrder="descending"
		value="#{notificaBean.model}" rows="30" rowStyleClass="altura-fila #{notificacion.estado.color}"
		paginator="true" lazy="true" rowKey="#{notificacion.id}" selection="#{notificaBean.notificacionesSeleccionadas}"
		paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"					
		rowsPerPageTemplate="30,60,100,200,#{notificaBean.numNots}"
		emptyMessage="No existen notificaciones para los criterios y/o filtros seleccionados">
		<p:ajax event="page" listener="#{beanA.est}" update="formulario:seleccionFilas" />
		<p:ajax event="filter" listener="#{beanA.est}" update="formulario:tabla formulario:seleccionFilas" />
		<p:ajax event="sort" listener="#{beanA.est}" update="formulario:tabla formulario:seleccionFilas" />
 		<p:ajax event="rowSelectCheckbox" listener="#{notificaBean.seleccionoCheck}" update="cmDetalle cmEnviarYa cmReanudarEnvio cmPausarEnvio cmReencolar formulario:seleccionFilas" /> 
 		<p:ajax event="rowUnselectCheckbox" listener="#{notificaBean.desseleccionoCheck}" update="cmDetalle cmEnviarYa cmReanudarEnvio cmPausarEnvio cmReencolar formulario:seleccionFilas" />
		<f:facet name="header">
			<h:outputLabel style="color:black;" value="#{'&nbsp;'}" />
		</f:facet>
        <f:facet name="header">
        		<div id='divRefrescar' style='display:inline-block; float: right;'>
            	<p:commandButton id="btnRefres" value="Actualizar"
            		update="formulario:tabla formulario:seleccionFilas"
            		onclick="PF('tabla').unselectAllRows();"
            		action="#{notificaBean.desseleccionoCheck}" 
					style="font-weight: normal;">
					<f:param name="refrescar" value="true" />
				</p:commandButton>
				</div>
        </f:facet>
        
        <f:facet name="header">
        	<div id='divBorrarSeleccion' style='display:inline-block; float: left;'>
        		<p:commandButton id="cmBorrarSeleccion" value="Quitar selección" style="display:inline;"
        			onclick="PF('tabla').unselectAllRows();"
        			action="#{notificaBean.desseleccionoCheck}"
        			update="cmDetalle cmEnviarYa cmReanudarEnvio cmPausarEnvio cmReencolar formulario:seleccionFilas" />
        	</div>
        </f:facet>        

        <f:facet name="footer">      
			<p:commandButton id="cmDetalle" value="Mostrar detalle" 
				styleClass="boton-accion" disabled="#{!notificaBean.cmDetalleEnabled}"
				action="#{notificaBean.mostrarDetalle}" 
							onclick="PF('statusDialog').show();"
							onsuccess="PF('statusDialog').hide()"
							oncomplete="PF('dialogoDetalle').show()"
							update="dialogoDetalle"			
				/>										
			<p:commandButton id="cmEnviarYa" value="Enviar ahora" styleClass="boton-accion" disabled="#{!notificaBean.cmEnviarYaEnabled}" 
				action="#{notificaBean.enviarAhoraSeleccionadas}" rendered="false"/>
			<p:commandButton id="cmReencolar" value="Reencolar notif." styleClass="boton-accion" disabled="#{!notificaBean.cmReencolarEnabled}" 
				action="#{notificaBean.reencolarSeleccionadas}" rendered="false"
				update="cmDetalle cmEnviarYa cmReanudarEnvio cmPausarEnvio cmReencolar formulario:seleccionFilas"/>
			&nbsp;				
			<p:commandButton id="cmPausarEnvio" value="Pausar envío" styleClass="boton-accion" disabled="#{!notificaBean.cmPausarEnvioEnabled}" 
				action="#{notificaBean.pausarSeleccionadas}"  rendered="false"/>
			<p:commandButton id="cmReanudarEnvio" value="Reanudar envío" styleClass="boton-accion" disabled="#{!notificaBean.cmReanudarEnvioEnabled}" 
				action="#{notificaBean.reanudarSeleccionadas}"  rendered="false"/>				

        </f:facet>
        
        <f:facet name="footer">
        	<div id='divMostrarDiagrama' style='display:inline-block; float: left;'>
        		<p:commandButton id="cmMostrarDiagrama" value="Mostrar diagrama de estados" 
        			style="display:inline; width:130px;" />
        	</div>
        </f:facet>           
	  
              
		<p:column selectionMode="multiple" style="width:3%;" />					
		<!-- Id Notif.  -->
		<p:column headerText="ID TRAMITADOR" style="color:black; width:5%;" 
			filterBy="#{notificacion.id}" 
			filterMatchMode="contains" filterStyleClass="wp3 letra-pequeña" styleClass="letra-pequeña"
			sortBy="#{notificacion.id}">
			<h:outputText value="#{notificacion.id}" />
		</p:column>
		<!-- Id Remesa  -->
		<p:column headerText="ID Notific@" style="color:black; width:5%;"
			filterBy="#{notificacion.codigoRemesa}"
			filterMatchMode="contains" filterStyleClass="wp6 letra-pequeña" styleClass="letra-pequeña"
			sortBy="#{notificacion.codigoRemesa}">
			<h:outputText value="#{notificacion.codigoRemesa}" />
		</p:column>
		<!-- Estado  -->
		<p:column headerText="Estado" style="color:black; width:8%;" styleClass="es-estado"
			filterBy="#{notificacion.estado}"
			filterMatchMode="exact"
			sortBy="#{notificacion.estado}">
						
            <f:facet name="filter">
                <p:selectOneMenu onchange="PF('tabla').filter()" >
                    <f:selectItem itemLabel="" itemValue="#{null}" noSelectionOption="true" />
						<f:selectItems value="#{notificaBean.estadosEntries}" var="entry" 
						    itemValue="#{entry.value[0]}" itemLabel="#{entry.value[2]}" itemDescription="#{entry.value[3]}" />							                   
                </p:selectOneMenu>
            </f:facet>

			<h:outputText value="#{notificacion.estado ne null?notificacion.estado.nombre:'Not. Manual'}" title="#{notificacion.estado ne null?notificacion.estado.descripcion:'La notificación se gestiona fuera del Sistema de Notificaciones de TRAMITADOR'}" style="color:#{notificacion.estado ne null?'black':'brown'};"/>

		</p:column>					
		<!-- Fcha Entrega  -->
		<p:column headerText="Fecha Entrega" style="color:black; width:6%;"
			filterBy="#{notificacion.fechaPuestaADisposicion}"
			filterMatchMode="contains" filterStyleClass="wp8 letra-pequeña" styleClass="letra-pequeña"
			sortBy="#{notificacion.fechaPuestaADisposicion}">
			<h:outputText value="#{notificacion.fechaPuestaADisposicion}" >
				<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
			</h:outputText>
		</p:column>						
		<!-- Fcha Recibo  -->
		<p:column headerText="Fecha Recepc."  style="color:black; width:6%;"
			filterBy="#{notificacion.fechaRecibo}"
			filterMatchMode="contains" filterStyleClass="wp6 letra-pequeña" styleClass="letra-pequeña"
			sortBy="#{notificacion.fechaRecibo}">
			<h:outputText value="#{notificacion.fechaRecibo}" >
				<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
			</h:outputText>
		</p:column>		
		<!-- Número Expediente  -->
		<p:column headerText="Nº Expte" style="color:black; width:15%;"
			filterBy="#{notificacion.numExpediente}"
			filterMatchMode="contains" filterStyleClass="wp10 letra-pequeña" styleClass="letra-pequeña"
			sortBy="#{notificacion.numExpediente}">
			<h:outputText styleClass="letra-mediana" value="#{notificacion.numExpediente}" title="#{notificacion.numExpediente}" style="color:black !important;"/>
		</p:column>								
		<!-- Asunto  -->
		<p:column headerText="Asunto" style="color:black; width:25%;"
			filterBy="#{notificacion.asunto}"
			filterMatchMode="contains" filterStyleClass="wp25"
			sortBy="#{notificacion.asunto}">
			<h:outputText value="#{notificacion.asunto}" title="#{notificacion.asunto}" style="color:black !important;"/>
		</p:column>	

		<p:column headerText="Destinatario" style="color:black; width:24%;"
			filterBy="#{notificacion.nombreCompletoDestinatario}"
			filterMatchMode="contains" filterStyleClass="wp10"
			sortBy="#{notificacion.nombreCompletoDestinatario}">
			<h:outputText value="#{notificacion.nombreCompletoDestinatario}" title="#{notificacion.nombreCompletoDestinatario}" style="color:black !important;" />
		</p:column>	
		

		<!-- Fcha Auditoría = Modificación  -->
		<p:column headerText="Modif."  style="color:black; width:6%;"
			filterBy="#{notificacion.fechaAuditoria}"
			filterMatchMode="contains" filterStyleClass="wp8 letra-pequeña" styleClass="letra-pequeña"
			sortBy="#{notificacion.fechaAuditoria}">
			<h:outputText value="#{notificacion.fechaAuditoria}" >
				<f:convertDateTime pattern="dd-MM-yy"></f:convertDateTime>
			</h:outputText>
		</p:column>	
					

	</p:dataTable>
	

	
</p:panel>





<p:panel id="seleccionFilas" style="visibility: hidden;">
				<script>
				//<![CDATA[
					
					// selección multipágina para tablas
					var notificacionesSeleccionadas = [];
					if(PF('tabla') != undefined)
						notificacionesSeleccionadas = PF('tabla').selection;	

					$( "tr.altura-fila" ).each(function( index ) {
						var fila = $(this);
						var found = notificacionesSeleccionadas.filter(function(element) {
							  return element == fila.attr("data-rk");
							})[0];					
						
						if (found != undefined && PF('tabla') != undefined) {
							PF('tabla').selectRow(index, false); }
						});
					
						//]]>				
				</script>
</p:panel>


</h:form>








	
	

<!-- Dialogo detalle selección -->
<p:dialog id="dialogoDetalle" header="Detalle de la notificación"
	width="400"
	styleClass="dlgPrincipal" widgetVar="dialogoDetalle"
	resizable="false" modal="true" appendTo="@(body)"
	closable="false">
	
<h:form>
          
<p:panelGrid style="margin-top:10px">
 
    <p:row>
        <p:column colspan="12" style="font-weight: bold;">Identificación</p:column>
    </p:row>
    <p:row>
        <p:column colspan="6" style="font-weight: bold;">Convocatoria</p:column>
        <p:column colspan="6" style="font-weight: bold;">ID</p:column>
    </p:row>
    <p:row>
        <p:column colspan="6" style="">#{notificaBean.notificacionSeleccionada.convocatoriaLinea}</p:column>
        <p:column colspan="6" style="">#{notificaBean.notificacionSeleccionada.id}</p:column>
    </p:row>  

	<p:row><p:column colspan="12"></p:column></p:row>
     
     <p:row>
        <p:column colspan="12" style="font-weight: bold;">Estado</p:column>
    </p:row>
    <p:row>
        <p:column colspan="6" style="font-weight: bold;">Código</p:column>
        <p:column colspan="6" style="font-weight: bold;">Descripción</p:column>
    </p:row>    
    <p:row>
    	<p:column colspan="6">#{notificaBean.notificacionSeleccionada.manual?'-':notificaBean.notificacionSeleccionada.estado}</p:column>
        <p:column colspan="6" style="">#{notificaBean.notificacionSeleccionada.manual?'-':notificaBean.notificacionSeleccionada.estado.descripcion}</p:column>
    </p:row>
    

 	
 	    
    <p:row><p:column colspan="12"></p:column></p:row>
    
     <p:row>
        <p:column colspan="12" style="font-weight: bold;">Destinatario</p:column>
    </p:row>    
    <p:row>
    	<p:column colspan="6" style="font-weight: bold;">DNI</p:column>
    	<p:column colspan="6" style="">#{notificaBean.notificacionSeleccionada.cif}
    	#{notificaBean.notificacionSeleccionada.dni}#{notificaBean.notificacionSeleccionada.nif}</p:column>
    </p:row>
    <p:row>
    	<p:column colspan="6" style="font-weight: bold;">Nombre y apellidos</p:column>
    	<p:column colspan="6" style="">#{notificaBean.notificacionSeleccionada.nombre}
    	#{notificaBean.notificacionSeleccionada.apellido1}
    	#{notificaBean.notificacionSeleccionada.apellido2}</p:column>
    </p:row>   
    <p:row>
    	<p:column colspan="6" style="font-weight: bold;">email</p:column>
    	<p:column colspan="6" style="">#{notificaBean.notificacionSeleccionada.email}</p:column>
    </p:row>
    <p:row>
    	<p:column colspan="6" style="font-weight: bold;">Teléfono</p:column>
    	<p:column colspan="6" style="">#{notificaBean.notificacionSeleccionada.telefono}</p:column>
    </p:row>
    
    <p:row><p:column colspan="12"></p:column></p:row>
    
     <p:row>
        <p:column colspan="12" style="font-weight: bold;">Contenido de la notificación</p:column>
    </p:row>
    
    
    <p:row>
    	<p:column colspan="6" style="font-weight: bold;">Enlace al documento</p:column>
    	<p:column colspan="6" style="">

			<p:commandButton value="Notificación" ajax="false" disabled="#{notificaBean.notificacionSeleccionada.manual}"
				onclick="PrimeFaces.monitorDownload(start, stop);"
				icon="fa fa-fw fa-file-pdf-o">
					<f:setPropertyActionListener
						value="#{notificaBean.notificacionSeleccionada.idFichero}"
						target="#{descargaFicheroBean.idFichero}" />				
				<p:fileDownload value="#{descargaFicheroBean.file}">
				</p:fileDownload>
			</p:commandButton>
									
		</p:column>
		
    </p:row>
    
    
    
    <p:row>
    	<p:column colspan="6" style="font-weight: bold;">Asunto</p:column>
    	<p:column colspan="6" style="">#{notificaBean.notificacionSeleccionada.asunto}</p:column>
    </p:row>
    
    
    <p:row><p:column colspan="12"></p:column></p:row>    
    <p:row>
        <p:column colspan="12" style="font-weight: bold;">Última modificación del registro</p:column>
    </p:row>
    
    <p:row>
        <p:column colspan="6" style="font-weight: bold;">Fecha</p:column>
        <p:column colspan="6" style="font-weight: bold;">Usuario</p:column>
    </p:row> 
    
    <p:row>
    	<p:column colspan="6" style="">
    	<p:outputLabel value="#{notificaBean.notificacionSeleccionada.fechaAuditoria}" ></p:outputLabel>
    	
    	</p:column>
        <p:column colspan="6" style="">#{notificaBean.notificacionSeleccionada.usuarioAuditoria}</p:column>
    </p:row>

	
	<f:facet name="footer">
	<p:row style="text-align:right;">
	<p:column colspan="12">
		<p:commandButton value="Volver" icon="fa fa-reply"
			onclick="PF('dialogoDetalle').hide();">
		</p:commandButton>
		</p:column>
		</p:row>
	</f:facet>

</p:panelGrid>

</h:form>

		<p:ajax event="close" listener="#{beanA.est}"
			update=":formulario" />	
				
</p:dialog>


		
		<script type="text/javascript">
			$(document).ready(function() {
				$('#formulario\\:tabla\\:cmMostrarDiagrama').click(function() {
					$('#dialogoPDF').css('position','absolute');
					PF('dialogoPDF').show();
				});
			});
		</script>				
				
	</ui:define>
</ui:composition>
