<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:notificationBar position="top" effect="slide" styleClass="top"
		widgetVar="bar2">

		<div class="ui-grid ayudaTRAMITADOR">
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 noBorder p5 center lh40">
					<h:outputText styleClass="negro"
						value="2.- NOTIFICACIÓN ELECTRÓNICA OBLIGATORIA"
						style="font-size:24px;" />
				</div>
			</div>
			<p class="negro bold subrayado">Notificación.-</p>
			<p>Debe seleccionarse quién quiere que reciba las notificaciones
				electrónicas, pudiendo marcar las dos opciones disponibles.</p>
			<p>Entidad habilitada: Sólo se podrá marcar <span class="bold">si el usuario de
				grabación</span> pertenece a una Entidad Habilitada. Para el resto de casos
				no es posible marcar esta opción.</p>
			<p class="negro bold subrayado">Notificación electrónica
				obigatoria.-</p>


			<p>En esta convocatoria todas las notificaciones se realizarán
				vía telemática por el sistema de notificaciones de la Administración
				Junta de Andalucía (Notific@). El solicitante sólo las recibirá si
				está dado de alta en este sistema, completamente ajeno a esta
				aplicación (más información en
				http://www.jda.es/notificaciones).</p>
			<p>El correo-e (campo obligatorio) que se consigne en este
				apartado servirá para avisar al solicitante de que tiene disponible
				alguna notificación, pero deberá entrar en Notific@ para
				consultarla. Opcionalmente se puede rellenar el número de teléfono
				para este mismo fin.</p>
			<p>‘correo electrónico’: Debe ser dirección válida (contener ‘@’
				y un dominio válido). La aplicación transformará la dirección a
				mayúsculas automáticamente.</p>
			<br />
			<p class="negro bold subrayado">Botones.-</p>
			<p>‘Verificar datos’: Permite comprobar si los campos se han
				completado correctamente. Si no es así aparece un mensaje de
				incidencia por cada campo.</p>
			<p>‘Limpiar’: Elimina el contenido sólo del apartado en el que se
				encuentre</p>

			<br />
			<div class="ui-grid-row ">
				<div class="ui-grid-col-12 noBorder p5 center lh40">
					<p:commandButton value="Cerrar Ayuda" onclick="PF('bar2').hide()"
						type="button" icon="fa fa-close"
						styleClass="btnMinimalista iconoNegro flotante" />
				</div>
			</div>
		</div>
	</p:notificationBar>

	<div class="btnFlotanteAyuda">
		<a title="Ayuda" style="cursor: pointer; font-size: 42px;"
			onclick="PF('bar2').show()"> <i class="fa fa-fw fa-info-circle" />
		</a>
	</div>
	<h:panelGroup id="pnlLugarNotificacion">
		<div class="ui-grid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-2 noBorderRight p5">
					<h:outputLabel value="Notifíquese a:" />
				</div>
				<div class="ui-grid-col-5 noBorderRight p5">

					<p:selectBooleanCheckbox
						itemLabel="Solicitante/Representante."
						value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.notificaSolRep}"
						styleClass="noBorder p2 #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloNotificaSolRep}" />
				</div>
				<div class="ui-grid-col-5 p5">
					<p:selectBooleanCheckbox itemLabel="Entidad Habilitada."
						disabled="#{!saGraModBean.puedoPulsarHabilitada}"
						value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.notificaEntHabi}"
						styleClass="noBorder p2 #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloNotificaEntHabi}" />
				</div>
			</div>
			<div class="ui-grid-row" style="display: none;">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12 noBorder p5">
						<h:outputLabel value="Marque sólo una opción:" />
					</div>
				</div>

				<div class="ui-grid-row">
					<div class="ui-grid-col-12 noBorder p5">
						<p:selectBooleanCheckbox
							itemLabel="OPTO por que las notificaciones que proceda practicar se efectúen en el lugar que se indica."
							value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.opto1}"
							styleClass="noBorder p2 #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloOpto1}" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-1 noBorder p5"></div>
					<div class="ui-grid-col-11 noBorder p5">
						<p:selectBooleanCheckbox itemLabel="Dirección del solicitante."
							value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.dirSolicitante}"
							styleClass="noBorder p2 #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloDirSolicitante}" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-1 noBorder p5"></div>
					<div class="ui-grid-col-11 noBorder p5">
						<p:selectBooleanCheckbox itemLabel="Otra dirección:"
							value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
							styleClass="noBorder p2 #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloOtraDir}">
							<p:ajax event="change"
								listener="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.limpiarOtraDireccion}"
								update="pnlOtraDireccion" />
						</p:selectBooleanCheckbox>
					</div>
				</div>
				<h:panelGroup id="pnlOtraDireccion">
					<div class="ui-grid-row">
						<div class="ui-grid-col-1 noBorder p5"></div>
						<div class="ui-grid-col-2 noBorder p5 lh22">
							<h:outputLabel value="TIPO DE VÍA:" />
						</div>
						<div class="ui-grid-col-9 noBorder p5 lh22">
							<h:outputLabel value="NOMBRE DE LA VÍA:" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-1 noBorder p5"></div>
						<div class="ui-grid-col-2 noBorder p5 center lh22">
							<p:selectOneMenu id="tipoVia"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.tipoVia}"
								onkeypress="if (event.keyCode == 13) {return false; }"
								onblur="this.value=this.value.toUpperCase()"
								styleClass="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloTipoVia}"
								maxlength="20" editable="true"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}">
								<f:selectItem itemLabel="" itemValue=""
									style="background-color: yellow;" />
								<f:selectItems value="#{saGraModBean.tiposVias}" var="tiposVias"
									itemLabel="#{tiposVias.label}" itemValue="#{tiposVias.value}"
									style="background-color: yellow;" />
							</p:selectOneMenu>
						</div>
						<div class="ui-grid-col-9 noBorder p5 center lh22">
							<p:inputText id="nombreVia"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.nombreVia}"
								styleClass="wp98 inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloNombreVia}"
								maxlength="50" onblur="this.value=this.value.toUpperCase()" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-1 noBorder p5"></div>
						<div class="ui-grid-col-2  noBorder p5 lh22">
							<h:outputLabel value="NÚMERO:" />
						</div>
						<div class="ui-grid-col-1  noBorder p5 lh22">
							<h:outputLabel value="LETRA:" />
						</div>
						<div class="ui-grid-col-2  noBorder p5 lh22">
							<h:outputLabel value="KM EN LA VÍA:" />
						</div>
						<div class="ui-grid-col-1  noBorder p5 lh22">
							<h:outputLabel value="BLOQUE:" />
						</div>
						<div class="ui-grid-col-1  noBorder p5 lh22">
							<h:outputLabel value="PORTAL:" />
						</div>
						<div class="ui-grid-col-2  noBorder p5 lh22">
							<h:outputLabel value="ESCALERA:" />
						</div>
						<div class="ui-grid-col-1  noBorder p5 lh22">
							<h:outputLabel value="PLANTA:" />
						</div>
						<div class="ui-grid-col-1  noBorder p5 lh22">
							<h:outputLabel value="PUERTA:" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-1 noBorder p5"></div>
						<div class="ui-grid-col-2 noBorder p5 center lh22">
							<p:inputText id="numeroVia"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.numeroVia}"
								maxlength="5"
								styleClass="wp90 inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloNumeroVia}"
								onblur="this.value=this.value.toUpperCase()" />
						</div>
						<div class="ui-grid-col-1 noBorder p5 center lh22">
							<p:inputText id="letraVia"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.letraVia}"
								maxlength="4"
								styleClass="wp90 inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloLetraVia}"
								onblur="this.value=this.value.toUpperCase()" />
						</div>
						<div class="ui-grid-col-2 noBorder p5 center lh22">
							<p:inputNumber id="kmVia"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.kmVia}"
								styleClass="txtWp90 inputNumberMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloKmVia}"
								maxValue="9999.999" decimalSeparator="," thousandSeparator=""
								onblur="this.value=this.value.toUpperCase()">
							</p:inputNumber>
						</div>
						<div class="ui-grid-col-1 noBorder p5 center lh22">
							<p:inputText id="bloque"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.bloque}"
								maxlength="4" styleClass="wp90 inputMinimalista"
								onblur="this.value=this.value.toUpperCase()" />
						</div>
						<div class="ui-grid-col-1 noBorder p5 center lh22">
							<p:inputText id="portal"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.portal}"
								maxlength="4" styleClass="wp90 inputMinimalista"
								onblur="this.value=this.value.toUpperCase()" />
						</div>
						<div class="ui-grid-col-2 noBorder p5 center lh22">
							<p:inputText id="escalera"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.escalera}"
								maxlength="4"
								styleClass="wp90 inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloEscalera}"
								onblur="this.value=this.value.toUpperCase()" />
						</div>
						<div class="ui-grid-col-1 noBorder p5 center lh22">
							<p:inputText id="planta"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.planta}"
								maxlength="4" styleClass="wp90 inputMinimalista"
								onblur="this.value=this.value.toUpperCase()" />
						</div>
						<div class="ui-grid-col-1 noBorder p5 center lh22">
							<p:inputText id="puerta"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.puerta}"
								maxlength="4"
								styleClass="wp90 inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloPuerta}"
								onblur="this.value=this.value.toUpperCase()" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-1 noBorder p5"></div>
						<div class="ui-grid-col-3  noBorder p5 lh22">
							<h:outputLabel value="PAÍS:" />
						</div>
						<div class="ui-grid-col-3  noBorder p5 lh22">
							<h:outputLabel value="PROVINCIA:" />
						</div>
						<div class="ui-grid-col-3  noBorder p5 lh22">
							<h:outputLabel value="ENTIDAD DE POBLACIÓN:" />
						</div>
						<div class="ui-grid-col-2  noBorder p5    p2 lh22">
							<h:outputLabel value="CÓD. POSTAL:" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-1 noBorder p5"></div>
						<div class="ui-grid-col-3 noBorder p5 center lh22">
							<p:selectOneMenu id="pais"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.pais}"
								onchange="this.value=this.value.toUpperCase()" maxlength="20"
								styleClass="wp90 #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloPais}"
								editable="true">
								<f:selectItem itemLabel="" itemValue="" />
								<f:selectItem itemLabel="ESPAÑA" itemValue="ESPAÑA" />
								<p:ajax listener="#{saGraModBean.cambioPaisLugarNotificacion}"
									update="paisSolicitante provincia" />
							</p:selectOneMenu>
						</div>
						<div class="ui-grid-col-3 noBorder p5 center lh22">
							<p:selectOneMenu id="provincia"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								styleClass="wp90 #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloProvincia}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.provincia}">
								<f:selectItem itemLabel="" itemValue="" />
								<f:selectItems
									value="#{saGraModBean.provinciasLugarNotificacion}"
									var="provincias" itemLabel="#{provincias.label}"
									itemValue="#{provincias.value}" />
								<p:ajax
									listener="#{saGraModBean.cambioProvinciaLugarNotificacion}"
									update="provinciaSolicitante nucleoPoblacion" />
							</p:selectOneMenu>
						</div>
						<div class="ui-grid-col-3 noBorder p5 center lh22">
							<p:selectOneMenu id="nucleoPoblacion"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								styleClass="wp90 #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloNucleoPoblacion}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.nucleoPoblacion}">
								<f:selectItem itemLabel="" itemValue="" />
								<f:selectItems
									value="#{saGraModBean.nucleosPoblacionLugarNotificacion}"
									var="nucleo" itemLabel="#{nucleo.label}"
									itemValue="#{nucleo.value}" />
							</p:selectOneMenu>
						</div>
						<div class="ui-grid-col-2 noBorder p5 center p2 lh22">
							<p:inputText id="codigoPostal"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.codigoPostal}"
								styleClass="wp90 inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloCodigoPostal}"
								maxlength="5" onblur="this.value=this.value.toUpperCase()" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-1 noBorder p5"></div>
						<div class="ui-grid-col-3  noBorder p5 lh22">
							<h:outputLabel value="TELÉFONO FIJO:" />
						</div>
						<div class="ui-grid-col-3  noBorder p5 lh22">
							<h:outputLabel value="TELÉFONO MÓVIL:" />
						</div>
						<div class="ui-grid-col-5  noBorder p5 lh22">
							<h:outputLabel value="CORREO ELECTRÓNICO:" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-1 noBorder p5"></div>
						<div class="ui-grid-col-3 noBorder p5 center lh22">
							<p:inputText id="telefono"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.telefono}"
								styleClass="wp90 inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloTelefono}"
								maxlength="9" onblur="this.value=this.value.toUpperCase()" />
						</div>
						<div class="ui-grid-col-3 noBorder p5 center lh22">
							<p:inputText id="fax"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.fax}"
								styleClass="wp90 inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloFax}"
								maxlength="9" onblur="this.value=this.value.toUpperCase()" />
						</div>
						<div class="ui-grid-col-5 noBorder p5 center p2 lh22">
							<p:inputText id="email"
								disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.otraDir}"
								value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.email}"
								styleClass="wp90 inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloEmail}"
								maxlength="50" onblur="this.value=this.value.toUpperCase()" />
						</div>
					</div>
				</h:panelGroup>
			</div>
			<div class="ui-grid-row" style="display: none;">
				<div
					class="ui-grid-col-12 noBorder p5Left noBorder p5Right noBorder p5Bottom">
					<p:selectBooleanCheckbox
						itemLabel="OPTO por que las notificaciones que proceda practicar se efectúen por medios electrónicos a través del sistema de notificaciones de la Administración Junta de Andalucía y se tramite mi alta en el servicio correspondiente en caso de no estarlo (1)."
						value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.opto2}"
						styleClass="noBorder p5 #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloOpto2}">
						<p:ajax event="change"
							listener="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.limpiarOpto2}"
							update="pnlOpto2" />
					</p:selectBooleanCheckbox>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 noBorder p5">
					<p:outputLabel
						value="&nbsp;Las notificaciones que proceda practicar se efectuarán por medios electrónicos a través del sistema de notificaciones de la Administración Junta de Andalucía y se tramitará su alta en el servicio correspondiente en caso de no estarlo (1)." />
				</div>
			</div>
			<div class="ui-grid-row">

				<div class="ui-grid-col-12 noBorder p5">
					<p:outputLabel
						value="&nbsp;Indique un correo electrónico y, opcionalmente, un número de teléfono móvil donde informar sobre las notificaciones practicadas en el sistema de notificaciones." />
				</div>

			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-1 noBorder p5"></div>
				<div class="ui-grid-col-8 noBorder p5 lh22">
					<h:outputLabel value="CORREO ELECTRÓNICO:" />
				</div>
				<div class="ui-grid-col-2 noBorder p5 lh22">
					<h:outputLabel value="TELÉFONO MÓVIL:" />
				</div>
				<div class="ui-grid-col-1 noBorder p5"></div>
			</div>
			<h:panelGroup id="pnlOpto2">
				<div class="ui-grid-row">
					<div class="ui-grid-col-1 noBorder p5"></div>
					<div class="ui-grid-col-8 noBorder p5 lh22">
						<p:inputText id="emailAutorizo"
							disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.opto2}"
							value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.emailAutorizo}"
							styleClass="wp98 inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloEmailAutorizo}"
							maxlength="50" onblur="this.value=this.value.toUpperCase()" />
					</div>
					<div class="ui-grid-col-2 noBorder p5 lh22">
						<p:inputText id="telefonoAutorizo"
							disabled="#{!saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.opto2}"
							value="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.telefonoAutorizo}"
							styleClass="inputMinimalista #{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloTelefonoAutorizo}"
							maxlength="9" />
					</div>
					<div class="ui-grid-col-1 noBorder p5"></div>
				</div>
			</h:panelGroup>
			<div class="ui-grid-row">
				<div class="ui-grid-col-1 noBorder p5"></div>
				<div class="ui-grid-col-10 noBorder p5">
					<p:outputLabel
						value="(1) Debe acceder al sistema de notificaciones con su certificado digital u otros medios de identificación electrónica; puede encontrar más información sobre los requisitos necesarios para el uso del sistema y el acceso a las notificaciones en la dirección: http://www.jda.es/notificaciones" />
				</div>
				<div class="ui-grid-col-1 noBorder p5"></div>
			</div>
			<div class="ui-grid-row">
				<div
					class="ui-grid-col-12 noBorder p5Top noBorder p5Left noBorder p5Bottom p2 lh22">
					<c:forEach var="mensajeError"
						items="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.listadoErrores}">
						<h:outputText value="#{mensajeError}"
							style="#{saGraModBean.lugarNotifDatosBancarios.lugarNotificacion.estiloErrores}"
							escape="false" />
						<br />
					</c:forEach>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-12 noBorder p5 center lh22">
					<p:commandButton value="#{Msg.botonVerificarDatos}"
						styleClass="iconoNegro btnMinimalista"
						action="#{saGraModBean.verificar}" update="pnlLugarNotificacion"
						icon="fa fa-check-circle">
						<f:setPropertyActionListener
							target="#{saGraModBean.pestanaActiva}" value="NOTIFICACION" />
					</p:commandButton>

					<p:commandButton id="botonGrabarNotificacion"
						value="#{Msg.botonGrabar}" styleClass="iconoNegro btnMinimalista"
						onclick="PF('statusDialog').show()"
						oncomplete="PF('statusDialog').hide()" icon="fa fa-fw fa-save"
						actionListener="#{motivacionCambioBean.crearMotivacion}"
						update="accPnlGrabacionSolicitud:indicadores_NOTIFICACION pnlLugarNotificacion">
						<f:param name="clase"
							value="es.desarrollo.TRAMITADOR.especifico.CONV.comun.controller.SAGraModBean" />
						<f:param name="objeto" value="saGraModBean" />
						<f:param name="metodo" value="guardarDatosLugarNotificacion" />
						<f:param name="pestana" value="#{Msg.PESTANA_NOTIFICACION}" />
					</p:commandButton>
					<p:commandButton value="#{Msg.botonLimpiar}"
						action="#{saGraModBean.limpiar}"
						styleClass="iconoNegro btnMinimalista" icon="fa fa-fw fa-eraser"
						update="pnlLugarNotificacion">
						<f:setPropertyActionListener
							target="#{saGraModBean.pestanaActiva}" value="NOTIFICACION" />
						<p:confirm header="LIMPIAR DATOS"
							message="Se van a eliminar todos los datos del formulario, ¿Desea continuar?" />
					</p:commandButton>
				</div>
			</div>
		</div>
	</h:panelGroup>
</ui:composition>